<p>update-task works!</p>


<form action="" [formGroup]="taskForm" (ngSubmit)="updateTask()">
    <div>
        <span>Task Name</span>
        <input type="text" placeholder="Enter The Name" formControlName="name">
    </div>

    <div>
        <span>Task Status</span>
        <select formControlName="task_status_id">
            <option *ngFor="let data of statusData"   [value]="data.id">{{data.name}}</option>
        </select>
    </div>

      <div>
        <span>Task Priority</span>
        <select formControlName="task_priority_id">
            <option *ngFor="let data of priorityData"   [value]="data.id">{{data.name}}</option>
        </select>
    </div>

    <button type="submit" >Submit</button>
</form>